doctype html
html(lang="en")
  head
    title Configure Property Listing
    link(rel='stylesheet', href='/static/styles.css')
    link(rel='stylesheet', href='/static/config.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=drawing')
    script(src='/static/map.js')

  body
    h1 Configure Property Listing

    form.form-settings#form-settings(method="POST")
      div.settings-main
        div.settings-head
          h2 Settings
        div.settings-detail
          div.form-field
            div.form-field-value
              input.form-input.input-string#input-location(type="string" name="location" value="#{config.location}")
            span Location
            p.description Specify the area to search properties for
          div.form-field
            span Selected Areas
            p.description Draw specific areas of interest for the earlier selected location: #{config.location}
            div.map
              div#map-canvas
              p MAP
              input(type="hidden" name="geometries" id="input-geometries" value="#{JSON.stringify(config.geometries)}")
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="min_rent" value="#{config.min_rent}")
            span Minimum Rent (&#163;)
            p.description Minimum rent per month filter
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="max_rent" value="#{config.max_rent}")
            span Maximum Rent (&#163;)
            p.description Maximum rent per month filter
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="min_beds" value="#{config.min_beds}")
            span Minimum Beds
            p.description Minimum amount of beds required in a property
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="max_beds" value="#{config.max_beds}")
            span Maximum Beds
            p.description Maximum amount of beds required in a property
          div.form-field
            div.form-field-value.field-radio
              input.form-input.input-radio(id="radio-unfurnished", type="radio", name="furnished", value="0", checked=config.furnished==0)
              label(for="radio-unfurnished") Unfurnished
              input.form-input.input-radio(id="radio-furnished" type="radio" name="furnished" value="1" checked=config.furnished==1)
              label(for="radio-furnished") Furnished
              input.form-input.input-radio(id="radio-all" type="radio" name="furnished" value="2" checked=config.furnished==2)
              label(for="radio-all") All
            span Furnished
            p.description Set property filter to furnished, unfurnished, or both.
        div.settings-footer
          input.input-button.input-submit(type="submit" value="Save")



