doctype html
html(lang="en")
  head
    title Latest Property Listing
    link(rel='stylesheet', href='/static/styles.css')

  body
    h1 Latest Property Listing


    ul#props_list
      each prop, i in props
        li
          section.properties
            article.property
              div.middlecol
                div.prop_title
                  h3
                    a(target="_blank" href="#{prop.details_url}")  #{prop.displayable_address}
                div.prop_keywords
                  p #{prop.num_bedrooms} Bedrooms, #{prop.num_bathrooms} Bathrooms, #{prop.num_recepts} Receptions
                div.prop_description
                  p #{prop.description}
                div.prop_footer
                  p #{prop.first_published_date}
              div.leftcol
                a(target="_blank" href="#{prop.details_url}")
                  img.prop_img(src="#{prop.image_url}" alt="photo")
                div.prop_letter #{i}
              div.rightcol
                div.prop_cost
                  p #{prop.rental_prices[0].per_month}


      li
        section.properties
          article.property
            div.middlecol
              div.prop_title
                p Charls Road, London, XX0
              div.prop_keywords
                p 3 Bed * 1 Bath * Kitchen
              div.prop_description
                p Room set in this brilliant sized three bedroom home is soon to be available! offering so much space
              div.prop_footer
                p First seen on zoopla
            div.leftcol
              img(src="http://dummyimage.com/150x150/000/fff.png" alt="photo")
              div.prop_letter A
            div.rightcol
              div.prop_cost
                p 400

      li
        section.properties
          article.property
            div.prop_title
              p Queen Square, London, XX0
            div.prop_keywords
              p 1 Bed * 1 Bath * 1 Kitchen
            div.prop_description
              p Basic room description
            div.prop_footer
              p Added two weeks ago
            div.prop_cost
              p 600



